@{
    ViewBag.Title = "Enquiry Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="/EnquiryDataEntry/Item/0">Enquiry Data</a> </li>
    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="pt-3">
        <div class="mb-4"> <a href="/EnquiryDataEntry/Item/0" class="btn btn-secondary float-right ml-1">+</a></div>
    </div>
</article>
<br />
<div ng-app="myApp" ng-controller="EnquiryDataEntryList">
    <div style="overflow:auto">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color:darkgrey">
                    <th>SrNo</th>
                    <th>Enquiry No.</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Cost Upto/Rent</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in enquiry_data">
                    <td>{{$index+1}}</td>
                    <td><a href="/EnquiryDataEntry/Item/{{item.seqid}}">{{item.seqid}}</a></td>
                    <td>{{item.name}}</td>
                    <td>{{item.mobile1}} </td>
                    <td>{{item.email}}</td>
                    <td>{{item.cost_upto}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>