@{
    ViewBag.Title = "Enquiry Data Entry";
}

<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Enquiry Data Entry</a> </li>
    </ul>
    <hr class="m-0">

</div>
<br />
<br />
<div ng-app="myApp" ng-controller="EnquiryDataEntry">
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="">Enquiry Type</label>
                <select ng-model="model.enquiry_type_id" id="enquiry_type_id" ng-options="x.SeqID as x.Name for x in enquiry_types" class="form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="">Name</label>
                <input type="text" class="form-control" ng-model="model.name" />
            </div>
            <div class="form-group col-md-3">
                <label for="">Mobile-1</label>
                <input type="text" class="form-control" ng-model="model.mobile1" />
            </div>
            <div class="form-group col-md-3">
                <label for="">Mobile-2</label>
                <input type="text" class="form-control" ng-model="model.mobile2" />
            </div>
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="">email</label>
                <input type="text" class="form-control" ng-model="model.email" />
            </div>
            <div class="form-group col-md-3">
                <label for="">Location</label>
                <select ng-model="model.location_id" id="location_id" ng-options="x.SeqID as x.Name for x in locations" class="form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="">Cost-Upto(Lakhs)/Rent</label>
                <input type="text" class="form-control" ng-model="model.cost_upto" />
            </div>
            <div class="form-group col-md-3">
                <label for="">Property Type</label>
                <select ng-model="model.property_type_id" id="property_type_id" ng-options="x.SeqID as x.Name for x in property_types" class="form-control"></select>
            </div>
           
        </div>
        <div class="form-row">
            
            <div class="form-group col-md-3">
                <label for="">Enquiry Source</label>
                <select ng-model="model.enquiry_source_id" id="enquiry_source_id" ng-options="x.SeqID as x.Name for x in enquiry_sources" class="form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="">Enquiry Date</label>
                <input type="date" class="form-control" ng-model="model.enquiry_date" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="">Remark</label>
                <textarea class="form-control" rows="2" ng-model="model.remark"></textarea>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <button type="submit" class="btn btn-primary" ng-click="save(model)">Submit</button>
                <a href="/EnquiryDataEntry" class="btn btn-primary">Back</a>
            </div>
            <div class="col-sm-2">
                

            </div>
        </div>
    </form>
</div>