@{
    ViewBag.Title = "Flat Owner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="/FlatOwners/Item/0">Flat Owners</a> </li>
    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="pt-3">
        <div class="mb-4"> <a href="/FlatOwners/Item/0" class="btn btn-secondary float-right ml-1">+</a></div>
    </div>
</article>
<br />
<div ng-app="myApp" ng-controller="FlatOwnersList">
    <div style="overflow:auto">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color:darkgrey">
                    <th>SrNo</th>
                    <th>Owner_Name</th>
                    <th>Owner_Mobile1</th>
                    <th>Owner_Mobile2</th>
                    <th>Owner_Email</th>
                    @*<th>Renter_Name</th>*@
                    @*<th>Renter_Mobile1</th>
                    <th>Renter_Mobile2</th>
                    <th>Renter_Email</th>*@
                    <th>IsActive</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in enquiry_data">
                    <td>{{$index+1}}</td>
                    <td><a href="/FlatOwners/Item/{{item.seqid}}">{{item.name}}</a></td>
                    <td>{{item.mobile1}} </td>
                    <td>{{item.mobile2}} </td>
                    <td>{{item.email}}</td>
                    @*<td>{{item.Renter_Name}}</td>
                    <td>{{item.Renter_Mobile1}}</td>
                    <td>{{item.Renter_Mobile2}}</td>
                    <td>{{item.Renter_Email}}</td>*@
                    <td>{{item.is_active}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>