
@{
    ViewBag.Title = "LovCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="/LovCategory/Item/0">Lov Category Master</a> </li>
    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="pt-3">
        <div class="mb-4"> <a href="/LovCategory/Item/0" class="btn btn-secondary float-right ml-1">+</a></div>
    </div>
</article>
<br />

<div ng-app="myApp" ng-controller="LovCategoryList">
    <div style="overflow:auto">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color:darkgrey">
                    <th>SrNo</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in lov_category">
                    <td>{{$index+1}}</td>
                    <td><a href="/LovCategory/Item/{{item.id}}">{{item.code}}</a></td>
                    @*<td>{{item.LovCategory_code}}</td>*@
                    <td>{{item.name}}</td>
                    <td>{{item.is_active}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>