
@{
    ViewBag.Title = "LovCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .skin-black .right-side > .content-header {
        background: transparent;
        box-shadow: none;
        margin-left: -232px;
    }
</style>
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lov Categories
            <small>Preview</small>
        </h1>
        <div class="breadcrumb">
            <div class="mb-4"> <a href="/LovCategory/Item/0" class="btn btn-success float-right ml-1">+</a></div>
        </div>
    </section>
</aside>
<br />
<div ng-app="myApp" ng-controller="LovCategoryList">
    <div style="overflow:auto">
        <table class="table table-hover table-bordered">
            <thead>
                <tr style="background-color:darkgrey">
                    <th>SrNo</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in lov_category">
                    <td>{{$index+1}}</td>
                    <td><a href="/LovCategory/Item/{{item.id}}">{{item.code}}</a></td>
                    @*<td>{{item.LovCategory_code}}</td>*@
                    <td>{{item.name}}</td>
                    <td>{{item.is_active}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>