<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PrimaryMailServer" value="pop.gmail.com"/>
    <add key="SecondryMailServer" value="pop.gmail.com"/>
    <add key="MailServerPort" value="995"/>
    <add key="MailServerUseSSL" value="true"/>
    <add key="CorporateEmailId" value="enquiry.krishnarealty9@gmail.com"/>
    <add key="CorporateEmailPass" value="Krishna@#$123"/>
     <add key="MailHeaderIdentifier" value="by gmail.com"/>
    <!--<add key="ConnectionString" value="Server=DTSPRODBTEST;database=DTS;User ID=dts;Password=dtsadmin;"/>-->
    <add key="ConnectionString" value="Host=localhost;port=5432;Username=postgres;Password=uti@123;Database=Krishna;"/>
    <add key="ErrorLogFile" value="D:\UTI Working\krishna reality\Folders\ErrorLog"/>

    <add key="SulekhaEmailFormat" value="Project :,Title :,Name :,Phone :,Email :"/>

    <add key="SulekhaEmaiilFrom" value="ypleads@sulekhanotifications.com"/>
    <add key="99acresEmailFrom" value="99acrsEmailFrom@gmail.com"/>
    <add key="enquiry_sources_list" value="no-reply@99acres.com,noreply@housing-mailer.com,ypleads@sulekhanotifications.com,prop.ex@magicbricks.com"/>
  </appSettings>
</configuration>
